<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/news_detail.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Alfa+Slab+One|Open+Sans:400,700,800" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>


    <title>{{ article.title }} </title>
</head>

<body>
    <div class="container">
        <main>
            <section>
                <h1>{{ article.title }}</h1>
                <div class="divider-parent">
                    <div class="h1-divider"></div>
                </div>
                <p class="intro">{{ first_paragraph }}.</p>

                <article>

                    <p>{{ first_half_content }}</p>

                    <div class="placeHolder_img"><img src="{{ article.image_url }}" alt=""></div>

                    <p>{{ second_half_content }}</p>
                </article>
            </section>
        </main>
    </div>

    <div class="comment_section">
        <div class="container mt-5 mb-5">
            <div class="d-flex justify-content-center row">
                <div class="d-flex flex-column col-md-8">
                    <div
                        class="d-flex flex-row align-items-center text-left comment-top p-2 bg-white border-bottom px-4">
                        <div class="profile-image"><img class="rounded-circle" src="https://i.imgur.com/t9toMAQ.jpg"
                                width="70"></div>
                        <div class="d-flex flex-column-reverse flex-grow-0 align-items-center votings ml-1"><i
                                class="fa fa-sort-up fa-2x hit-voting"></i><span>127</span><i
                                class="fa fa-sort-down fa-2x hit-voting"></i></div>
                        <div class="d-flex flex-column ml-3">
                            <div class="d-flex flex-row post-title">
                                <h5>Share your thoughts and opinions</h5><span class="ml-2">
                                    {{ article.source.name}}</span>
                                {% if user.is_authenticated %}
                                    <a href="{% url 'toggle_bookmark' article.id %}">
                                        {% if article in user.userprofile.saved_articles.all %}
                                        <span class="material-symbols-outlined">
                                            bookmark_remove
                                        </span>
                                        {% else %}
                                        <span class="material-symbols-outlined">
                                            bookmark_add
                                        </span>
                                        {% endif %}
                                    </a>
                                {% endif %}
                            </div>
                            <div class="d-flex flex-row align-items-center align-content-center post-title"><span
                                    class="bdge mr-1">video</span><span class="mr-2 comments">
                                    {{ article.number_of_comments }} comments&nbsp;</span><span
                                    class="mr-2 dot"></span><span>{{ article.publication_date }}</span></div>
                        </div>
                    </div>
                    <div class="coment-bottom bg-white p-2 px-4">
                        <div class="d-flex flex-row add-comment-section mt-4 mb-4">
                            <img class="img-fluid img-responsive rounded-circle mr-2"
                                src="https://i.imgur.com/qdiP4DB.jpg" width="80">
                            {% if user.is_authenticated %}
                            <div class="formation">
                                <form method="post">
                                    {% csrf_token %}
                                    {{ comment_form.content }}
                                    <button class="btn btn-primary" type="submit">Comment</button>
                                </form>
                            </div>
                            {% else %}
                            <a class="btn btn-outline-info" href="{% url 'login' %}">Log in to add a comment!</a><br>
                            {% endif %}
                        </div>
                        {% if comments %}
                        {% for comment in comments %}
                        <div class="commented-section mt-2">
                            <div class="d-flex flex-row align-items-center commented-user">
                                <h5 class="mr-2">{{ comment.user.username }}</h5>
                                <span class="dot mb-1"></span>
                                <span class="mb-1 ml-2">{{ comment.timestamp }}</span>
                            </div>
                            <div class="comment-text-sm"><span>{{ comment.content }}</span></div>
                            <div class="reply-section">
                                <div class="d-flex flex-row align-items-center voting-icons">
                                    <a href="" class="upbtn" onclick="return false;" data-a-id="{{ comment.id }}"
                                        style="color: #4681f4;"><i
                                            class="fa fa-sort-up fa-2x mt-3 hit-voting upvote-btn mytarget"
                                            data-comment-id="{{ comment.id }}">
                                        </i></a>
                                    <a href="" class="dvbtn" onclick="return false;" style="color: black;"
                                        data-a-id="{{ comment.id }}"><i
                                            class="fa fa-sort-down fa-2x mb-3 hit-voting downvote-btn mytarget"
                                            data-comment-id="{{ comment.id }}">
                                        </i></a>
                                    <span class="ml-2 upvote-count" data-commenting-id="{{ comment.id }}"
                                        data-upvotes="{{ comment.upvotes }}" data-downvotes="{{ comment.downvotes }}">
                                        {{ comment.number_of_likes }}
                                    </span>
                                    <span class="dot ml-2"></span>
                                    <h6 class="ml-2 mt-1">Reply</h6>
                                </div>
                            </div>
                        </div>

                        {% endfor %}
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>

    </script>


    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script>
        $(document).ready(function () {
            $(".upvote-btn, .downvote-btn").click(function () {
                var commentId = $(this).data("comment-id");
                var voteType = $(this).hasClass("upvote-btn") ? "upvote" : "downvote";

                // Disable the buttons temporarily
                $(".upvote-btn, .downvote-btn").prop("disabled", true);

                var csrftoken = document.cookie.match(/csrftoken=([^ ;]+)/)[1];

                var clickedButton = $(this);

                $.ajax({
                    type: "POST",
                    url: `${voteType}/${commentId}/`,
                    headers: { "X-CSRFToken": csrftoken },
                    success: function (data) {
                        console.log("success")
                        // Update the displayed upvotes or downvotes count
                        // $(".upvote-count, .downvote-count").text(data[voteType + 's']);
                        $(`[data-commenting-id=${commentId}]`).text(data[voteType + 's']);
                        if (voteType === "upvote") {
                            clickedButton.css("color", "gray");
                            clickedButton.css("display", "none");

                        } else if (voteType === "downvote") {
                            clickedButton.css("color", "gray");
                            clickedButton.css("display", "none");
                        }
                    },
                    complete: function () {
                        // Enable the buttons after the AJAX request is completed
                        $(".upvote-btn, .downvote-btn").prop("disabled", false);
                    }
                });

                // // Send an AJAX request to the corresponding view
                // $.post(`/news/{{ article.id }}/${voteType}/${commentId}/`, function (data) {
                //     // Update the displayed upvotes or downvotes count
                //     $(".upvote-count, .downvote-count").text(data[voteType + 's']);

                //     // Enable the buttons after the AJAX request is completed
                //     $(".upvote-btn, .downvote-btn").prop("disabled", false);
                // });
            });
        });
    </script>
</body>

</html>