<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/news_detail.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Alfa+Slab+One|Open+Sans:400,700,800" rel="stylesheet">
    <title>Document</title>
</head>
<body>
    <main>
        <section>
            <h1>{{ article.title }}</h1>
            <div class="h1-divider"></div>
            <p class="intro">{{ first_paragraph }}.</p>
    
            <article>
                
                <p>{{ first_half_content }}</p>
    
                <div class="placeHolder_img"><img src="{{ article.image_url }}" alt=""></div>

                <p>{{ second_half_content }}</p>
            </article>
        </section>
    </main>
</body>
</html>