<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Email Confirmation</title>
</head>
<body>
    <div style="text-align: center; padding: 20px;">
        <h1>Confirm Your Email Address</h1>
        <p>Thank you for registering with our website. To complete your registration, please confirm your email address by clicking the link below:</p>
        <a href="{{ confirmation_url }}">Confirm Email</a>
        <p>If you didn't request this, please ignore this email. Your account won't be activated.</p>
    </div>
</body>
</html>
